.inner-content {
    color: #363629;
    padding: 20px;
    padding-top: 40px;
}

.inner-content h2 {
    color: #292F36;
}

.inner-content a {
    color:#4ECDC4 !important;
}

.inner-header{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.inner-content.tips .subHeader{
    font-size: x-large;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 7px;
}

#algebra .topHeader{
    background-color: #389f98 ;
    border-bottom: 5px solid #389f98;
    padding: 20px;
    color: #292F36;
   }

#algebra .topHeader #text{
    font-weight: 700;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}