#flervarre  #sidebar-wrapper {
    background: linear-gradient(0deg, var(--primary-green) 35%, var(--secondary-green) 100%);
}
#flervarre .MuiPaper-root{
    /* Full sidebar block */
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none !important;
}

#flervarre a {
    color: var(--dark-green);
}