#flervarre .sidebar {
    background-color: #292F36
}

#flervarre .MuiAccordionSummary-content {
    color: #292F36;
    font-size: large;
    font-weight: bolder;
}

#flervarre .MuiAccordionSummary-root {
    /* Expandable components */
    background-color: #f0d270 !important;
}

#flervarre .outside.MuiListItem-root{
    /* Non-expandable components, startpage etc */
    background-color: #cf9100 !important;
    color: #292F36;
    font-size: large;
    font-weight: bolder;
}

#flervarre .outside.MuiListItem-root#hehe{
    background-color: white !important;
}


#flervarre .MuiAccordionDetails-root {
    /* Expanded contents */
    background-color: #dfa11d !important;
}