/* CSS FOR LANDING PAGE */

#landing{
    /* background-image: url(./backsvg.svg); */
    background-repeat:no-repeat;
    background-position:left bottom;
}

.container.fluid#landing {
    height: 100vh;
}

#landing .inner-content {
    padding-top: 10%;
    text-align: center;
    font-size: medium;
    font-style: italic;
}

#landing .inner-content .title{
    margin-bottom: 25px;
    font-size: xx-large;
    font-style: normal;
    font-weight: 500;
}

#landing .inner-content .buttons {
    margin: 10px;
}

#landing .inner-content .buttons Button{
    margin: 10px;
}

#landing svg {
    position:absolute;
    bottom: 0;
} 