#sidebar-wrapper {
    margin-left: 20px;
}

.MuiAccordionSummary-content {
    color: #292F36;
    font-size: large;
    font-weight: bolder;
}

#algebra .MuiAccordionSummary-root {
    /* Expandable components */
    border-radius: 30px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);

}

#algebra .MuiPaper-root{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none !important;
}

.outside.MuiListItem-root {
    /* Non-expandable components, startpage etc */
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: large;
    font-weight: bolder;
}


.MuiAccordion-root:before {
    height: 0px !important;
}

#algebra  .MuiAccordionDetails-root {
    /* Expanded contents */
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.4);
}