.sidebar {
    /* background-color: #292F36 */
}

.MuiAccordionSummary-content {
    color: #292F36;
    font-size: large;
    font-weight: bolder;
}

#algebra .MuiAccordionSummary-root {
    /* Expandable components */
    border-radius: 25px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.616);

}

#algebra .MuiPaper-root{
    background-color: rgba(0, 0, 0, 0);
}

.outside.MuiListItem-root {
    /* Non-expandable components, startpage etc */
    background-color: #389f98 !important;
    color: #292F36;
    font-size: large;
    font-weight: bolder;
}


#algebra  .MuiAccordionDetails-root {
    /* Expanded contents */
    background-color: #4ECDC4 !important;
}