html, body {
  min-height: 100%;
  color: #F7FFF7;
  overflow-x: hidden;
 }

#root {
  min-height: 100%;
  height: 100%;
  color: #F7FFF7;

}

.container-fluid {
  color: #F7FFF7;
  height: 100%;
  padding: 0px !important;
  margin: 0px;
 }

.header {
  background-color: #292F36;
  padding: 20px;
  color: #F7FFF7;
  font-size: 48px;
  font-weight: 300;
}

.sub-header {
  color:#292F36;
}

.sidebar a {
  color: #292F36 !important;
}

.outside a {
  color: #292F36 !important;
}

#hehe {
  background-color: #4ecdc500 !important;
  height: 10px;
  margin-bottom: 100px;
  margin-top: 50px;
}

#hehe img {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.39));
  filter: drop-shadow(0px 0px 4px  rgba(0, 0, 0, 0.39));
  width: 50px;
  transition: all .2s ease-in-out; 
}

#hehe img:hover {
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
}

#blueText {
  color:#059389 !important;
  font-weight: bolder;
  font-style: italic;
}