html, body {
  color: #F7FFF7;
  overflow-x: hidden;
  height: 100vh;
 }

#root {
  min-height: 100%;
  height: 100%;

  /* CUSTOM COLORS: */
  --primary-white: rgb(246, 244, 244);
  --primary-black: rgb(25, 25, 26);
  --primary-blue: #64a5bf;
  --secondary-blue: #b5e9ff;
  --primary-salmon: #ff5c64;
  --secondary-salmon: #ff7373;
  --primary-fire: rgb(223, 109, 33);
  --secondary-fire: rgb(224, 136, 36);

}

html, body, #app, #app>div {
  height: 100%
}



.container-fluid {
  color: #000000;
  height: 100vh;
  padding: 0px !important;
  margin: 0px;
 }

.header {
  background-color: #292F36;
  padding: 20px;
  color: #F7FFF7;
  font-size: 48px;
  font-weight: 300;
}

.sub-header {
  color:#292F36;
}

.sidebar a {
  color: #292F36 !important;
}

.outside a {
  color: #292F36 !important;
}

#hehe {
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: small;
  font-weight: lighter;
}

#hehe img {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.39));
  filter: drop-shadow(0px 0px 4px  rgba(0, 0, 0, 0.39));
  width: 50px;
  transition: all .2s ease-in-out; 
}

#hehe:hover {
  font-weight: bold;
  transition-timing-function: ease-in-out;
}