.inner-content {
    color: #363629;
    padding: 20px;
    width: 90%;
}

.inner-content h2 {
    color: #292F36;
}


.inner-content a {
    color:#4ECDC4 !important;
  }

.inner-header{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.inner-content.tips .subHeader{
    font-size: x-large;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 7px;

}