
.inner-content h2 {
    color: #292F36;
}

#flervarre .inner-content a {
    color:#daab2c !important;
}


.inner-content.tips .subHeader{
    font-size: x-large;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 7px;
}

#flervarre .topHeader{
    background-color: #cf9100 ;
    border-bottom: 5px solid #cf9100;
    padding: 20px;
    color: #292F36;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}