#flervarre.container-fluid {
    background-color: #fff;
}

#flervarre .inner-content.tips a {
    color:var(--primary-green);
    text-decoration: underline;
}

#flervarre .inner-content.tips a:hover{
    color: var(--secondary-green);
}

#flervarre .inner-content#link-page{
    text-align: left;
}